<h1>Top Youtube Channels - Burundi</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Youtuber</th>
      <th>Subscribers</th>
      <th>Views Views</th>
      <th>Video Count</th>
      <th>Published At</th>
    </tr>
  </thead>
  <tbody>
    <% @youtubers.each_with_index do |youtuber, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= youtuber.title %></td>
        <td><%= youtuber.subscriber_count %></td>
        <td><%= youtuber.view_count %></td>
        <td><%= youtuber.video_count %></td>
        <td><%= youtuber.published_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
